#page {
  width: 1920px;
  height: 900px;
}
#connexion {
  width: 100px;
  height: 30px;
  border: solid 1px black;
  position: absolute;
  right: 10px;
  top:10px;
}
#entete {
  text-align: center;
}
#hash {
  width: 100px;
  height: 30px;
  border: solid 1px black;
  position: absolute;
  left: 10px;
  top:10px;
}
#loginform {
  text-align: center;
}
